<footer class="site-footer" role="contentinfo">

    <p class="site-footer__copyright">
        &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </p>

</footer>
<!-- Netlify CMS code injection is only for index page -->
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <!-- End of Netlify CMS -->