<section class="widget-section widget_ci-slideshow">
        <div class="main-slider" data-animation="fade" data-autoplay="true" data-animation-speed="800" data-slideshow-speed="4000">
            <div class="main-slider-slide" style="background-image: url(http://placehold.it/1600x860/1E1C11/201E13);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slide-content">
                                <p class="slide-title"> <a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eum #1</a> </p>
                                <p class="slide-subtitle">Rembrandt Harmensz. van Rijn, 1639</p>
                                <div class="entry-categories"> <a href="">Masterpieces</a> <a href="">Paintings</a> <a href="">Art</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-slide" style="background-image: url(http://placehold.it/1600x860/1E1C11/201E13);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slide-content">
                                <p class="slide-title"> <a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eum #2</a> </p>
                                <p class="slide-subtitle">Rembrandt Harmensz. van Rijn, 1639</p>
                                <div class="entry-categories"> <a href="">Masterpieces</a> <a href="">Paintings</a> <a href="">Art</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-slide" style="background-image: url(http://placehold.it/1600x860/1E1C11/201E13);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slide-content">
                                <p class="slide-title"> <a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eum #3</a> </p>
                                <p class="slide-subtitle">Rembrandt Harmensz. van Rijn, 1639</p>
                                <div class="entry-categories"> <a href="">Masterpieces</a> <a href="">Paintings</a> <a href="">Art</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container main-slider-nav">
                <div class="row">
                    <div class="col-xs-12 main-slider-dots"></div>
                </div>
            </div>
        </div>
</section>