<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- Page theme scripts ======================= -->
<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/superfish@1,npm/jquery.mmenu@7,npm/slick-carousel@1,npm/fitvids.1.1.0@1,npm/magnific-popup@1,npm/jquery-match-height@0.7.2"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
<script src="js/app.js"></script>