/* -----------------------------------------
  09.  MOBILE MENU
----------------------------------------- */

.mm-page {
    position: static;
}

.mm-opened {
    .mm-page {
        position: relative;
    }
}

#mobilemenu {
    display: none;
    @include media-breakpoint-down(md) {
        display: block;
    }
}

.mobile-menu-trigger {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    display: none;
}